language: java

jdk: oraclejdk8

android:
  components:
    - gradle-wrapper

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_script:
  - cd Gosling
  - chmod +x gradlew

script: gradle ant-gosling-engine-build
